.containerAll, .top, .bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerAll { 
    background-color: var(--background);
    user-select: none;
    width: 100vw;
    height: 100vh;
  
}

.container {
    width: 400px;
    height: 400px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.top { 
    height: 80px;
    font-size: 24px;
    color: var(--primary-white);
    font-weight: bold;
}

.bot { 
    height: 320px;
    width: 100%;
    flex-direction: column;
    color: var(--primary-white);
    font-size: 18px;
    padding-bottom: 45px;
}

.bot img { 
    margin-bottom: 10px;
    cursor: pointer;
}

.Hover:hover { 
    box-shadow: var(--hover-effect);
}

@media screen and (max-width: 875px)  { 
    .top { 
        font-size: 16px;
    }
} 