:root {
    --font-mono:  'Roboto Mono',  'Source Code Pro', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
   'Oxygen Mono', 'Ubuntu Monospace',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --background: #1b1b1b;
    --errors: #e87c03;
    --input: rgb(61, 61, 61);
    --input-focus: rgb(104, 103, 103);
    --button-color: #e50914;
    --span-color: #858080;
    --catchap: rgb(0, 128, 255);
    --input-placeholder: : #b6b3b3;
    --primary-white: #ffffff;
    --calc-rem: calc(14px + (20.56 - 14) * ((100vw - 280px) / (3840 - 280)));
    --opacity-background: rgba(0, 0, 0, 0.5);
    --font-medium: 1.063rem;
    --catchap:  #0080ff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: var(--font-Roboto), var(--font-mono);
  color: var(--primary-white);
  font-size: var(--calc-rem);
}
