.ContainerBackground {
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem;
}

.background {
  filter: brightness(110%);
  object-fit: cover;
  object-position: center;
}

.containerData {
  position: absolute;
  width: 50%;
  z-index: 2;
  bottom: 15%;
  left: 7%;
}
.title, .description {
  font-weight: bold;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.75rem;
  margin-bottom: 0.813rem;
}

.description {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}


.btnAdd, .btnInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 32px;
  width: 84px;
  font-weight: bold;
  border: none;
  font-size: 0.688rem;
  cursor: pointer;
}

.btnAdd {
  background-color: var(--primary-white);
  color: rgb(0, 0, 0);
  margin-right: 7px;
}
.btnInfo {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--primary-white);
}

.containerBtn {
  display: flex;
}

.icon {
  margin-right: 2px;
  font-size: 15px;
}

@media screen and (max-width: 783px) {
  .containerData {
    width: 65%;
  }
}

@media screen and (max-width: 490px) {
  .ContainerBackground {
    height: 100vh;
  }

  .containerData {
    width: 80%;
  }
}
