.containerCard {
    position: relative;
    width: 23vw;
    background-color: #1b1b1b;
    height: 28vh;
    margin-right: 10px;

  }
  
  .backgroundCard { 
    filter: brightness(110%);
    object-fit: cover;
    object-position: center;

  }
  
  
  .containerCardInfo, .containerCardInfo2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  
  .containerCardInfo {
    height: 28vh;
    z-index: 2;
  }
  
  .image { 
    width: 100%;
    height: 100%;
    filter: brightness(110%);
    object-fit: cover;
    object-position: center;
  }
   
  
  .containerCardInfo:hover { 
    opacity: 0;
  }
  .containerCardInfo:hover + .containerCardInfo2 { 
    opacity: 100;
    display: block;
    z-index: 999;
  
    transform:scale(1)  translateY(-60px) translateX(20px) ;
  }
  
  
  .containerCardInfo2 {
    z-index: 1;
    opacity: 0;
    transition: transform 0.4s;
    transform: scale(0.8); 
  }
  
  
  .containerCard:hover .containerCardInfo {
    opacity: 0;
  }
  
  
  .containerCardInfo2:hover {
    display: block;
    opacity: 100;
    z-index: 999;
    transform:scale(1)  translateY(-60px) translateX(20px) ;
  }
  
  
  .details { 
    height: 28vh;
    width: 100%;
    
  }
  .details img { 
    width: 100%;
    height: 100%;
  }
  
  .details2 { 
    height: 28vh;
    background-color: #353434;
    width: 100%;
  }
  
  .details2 span{ 
    padding-left: 10px;
  }
  
  .icons { 
    height: 31%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  .icons div { 
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  .date { 
    height: 23%;
    width: 100%;
    color: white;
  }
  .gender { 
    height: 23%;
    width: 100%;
    color: white;
  }
  .duration { 
    height: 23%;
    width: 100%;
    color: white;
  }
  
  .play { 
    background-color: aliceblue;
    border-radius: 50%;
    color: black;
    font-size: 23px;
    font-weight: bold;
    width: 12%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
  .more { 
    background-color: #353434;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
    font-size: 18px;
    font-weight: bold;
    width: 12%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
  .addMenu { 
    position: absolute;
    right: 0;
    top: 65%;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    height: 80px;
    background-color:#383737;
    font-size: 15px;
    color: white;
    box-shadow: 20px 20px 50px rgb(0, 0, 0);
    z-index: 10;
    border: 1px solid rgb(20, 20, 20);
  }
  
  .addMenu1 {
    height: 50%;
    border-bottom: 0.5px solid black;
    padding-left: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .addMenu2 {
    height: 50%;
    padding-left: 11px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .addMenu1:hover,
  .addMenu2:hover {
   background-color: #252424;
  }
  .show {
    cursor: pointer; 
  }
  
  .showOpen { 
    cursor: pointer; 
    transform: rotate(180deg)
  }
 
  
  @media screen and (max-width: 1012px) { 
    .duration span {
        font-size: 12px;
    }
    .containerCard { 
      width: 30vw;
    }
    .containerCardInfo, .containerCardInfo2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .containerCardInfo {
      height: 28vh;
      z-index: 2;
    }

    .containerCardInfo:hover { 
      opacity: 100;
    }
    .containerCardInfo:hover + .containerCardInfo2 { 
      display: none;
    }
    
    
    .containerCardInfo2 {
     display: none;
    }
    
    
    .containerCard:hover .containerCardInfo {
      opacity: 100;
    }
    
    
    .containerCardInfo2:hover {
     display: none;
    }
    .image:hover {
      transform: scale(1.032); 
     transition: transform .35s ease-in-out;
     border: 1.5px solid white;
     }
  }

  @media screen and (max-width: 562px) { 
    .containerCard {
      width: 45vw;
    }
  }


  @media screen and (max-width: 486px) { 
    .containerCard {
      width: 90vw;
    }
    
  }
